doctype html
html(lang="en")
  include ./includes/head.jade
  link(href="css/home.css" rel="stylesheet")
  body(data-username= username)
    .container
      include ./includes/navbar.jade
      h1 Open Trades

      .jumbotron= `You are ${username}.`
        h2 Items for trade
        .row
          .col-xs-12.tableDiv
            table.table
              if tradeItems 
                thead
                  tr
                    th Owner
                    th Image
                    th Name
                    th Description
                    th Offers
                    th Make Offer
                tbody.itemsTable
                    each titem in tradeItems
                      tr.item(data-id= titem._id.toString())
                        td.owner= titem.owner.username
                        td.imgUrl
                          img(src= titem.imgUrl)
                        td.name= titem.name
                        td.description= titem.description
                        td.trade
                          if titem.offers
                            each offer in titem.offers
                              .off= offer.owner.username + ' : ' + offer.name
                          else
                            p 0
                        td
                          if titem.owner._id != user 
                            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                              | Make offer
                              span.caret
                            ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                              if myItems[0]
                                each mitem in myItems
                                  li.itemSelect
                                    a(href='#!' data-id= mitem._id.toString())= mitem.name
              else
                tr
                  p No items available for trade
                            

                tr.item#sample
                  td.imgUrl
                    img
                  td.name 
                  td.description 
                  td.trade
                    input(type='checkbox')
                  td
                    i.fa.fa-trash-o.del


    include ./includes/scripts.jade
    script(src='js/trades.js')
