doctype html
html(lang="en")
  include ./includes/head.jade
  link(href="css/home.css" rel="stylesheet")
  link(href="css/trades.css" rel="stylesheet")
  body(data-username= username)
    .container
      nav.navbar.navbar-inverse
        .container-fluid
          div
            ul.nav.navbar-nav
              li.dropdown(role='presentation')
                a.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')
                  span.glyphicon.glyphicon-menu-hamburger
                ul.dropdown-menu
                  li
                    a(href='/users/edit/profile') Edit Profile
              li.navHome
                a(href='/home') Home
              li.active.navTrades
                a(href='/trades') Trades
            ul.nav.navbar-nav.navbar-right
              li.navHome
                a.white= username
              li
                a(href='#')#logout
                  span.glyphicon.glyphicon-log-out
                  |  Log out
      h1 Open Trades

      .jumbotron
        h2 Items for trade
        .row
          .col-xs-12.tableDiv
            table.table
              if tradeItems 
                thead
                  tr
                    th Owner
                    th Image
                    th Name
                    th Description
                    th Offers
                    th Make Offer
                tbody.itemsTable
                    each titem in tradeItems
                      tr.item(data-id= titem._id.toString())
                        td.owner= titem.owner.username
                        td.imgUrl
                          img(src= titem.imgUrl)
                        td.name= titem.name
                        td.description= titem.description
                        td.trade
                          if titem.offers
                            each offer in titem.offers
                              .off= offer.owner.username + ' : ' + offer.name
                        td
                          if titem.owner._id != user
                            .dropdown
                              button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                                | Make offer
                                span.caret
                              ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                                if myItems[0]
                                  each mitem in myItems
                                    li.itemSelect
                                      a(href='#!' data-id= mitem._id.toString())= mitem.name
              else
                tr
                  p No items available for trade
                            

                tr.item#sample
                  td.imgUrl
                    img
                  td.name 
                  td.description 
                  td.trade
                    input(type='checkbox')
                  td
                    i.fa.fa-trash-o.del


    include ./includes/scripts.jade
    script(src='js/trades.js')
